doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title CouchTree deine App zum Hinpflanzen
    script(src="https://kit.fontawesome.com/95b5b20d41.js" crossorigin="anonymous")
  body
    main.wrapper
      nav#nav.navbar(role='navigation' aria-label="main navigation")
        div.navbar-brand
          a.navbar-item(href="#")
            img(src="./assets/images/logo.png")

          a#nav-toggle.navbar-burger.burger(role="button" aria-label="menu" aria-expanded="false" data-target="navbarCouchTree")
            span(aria-hidden="true")
            span(aria-hidden="true")
            span(aria-hidden="true")
          
        div#navbarCouchTree.navbar-menu
          div.navbar-end
            a.principle.navbar-item(href="#sectionWhat")
            a.participate.navbar-item(href="#sectionWho")
            a.aboutus.navbar-item(href="#sectionWhy")
            a.gettheapp.navbar-item.button.is-rounded

      section.section.intro.bg1.parallax
        div.container
          h1.title.intro-title
          h2.subtitle.intro-subtitle.primary
          p.text.intro-text
          //- button.button.is-rounded.primary.learn-more
      section.section.video.bg2.parallax
        div.container.video
          h1.primary.title.video-title.text-center
          p.text.video-text.text-center
          div.video-container-wrapper
            iframe.frame.video-container(src="https://www.youtube.com/embed/OvYgiwa2Y-I" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)

      div#langdropdown.dropdown
        div.dropdown-trigger
          button#lang_button.button(aria-haspopup="true" aria-controls="dropdown-menu")
            span.language-button
            span.icon.is-small
              i.fas.fa-angle-down(aria-hidden="true")
        div#dropdown-menu.dropdown-menu(role="menu")
          div.dropdown-content
            a#de.dropdown-item.lang-button
              | Deutsch
            a#en.dropdown-item.lang-button
              | English

  button#totop.totop.button.is-rounded.primary.is-hidden
