doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title CouchTree deine App zum Hinpflanzen
    script(src="https://kit.fontawesome.com/95b5b20d41.js" crossorigin="anonymous")
  body
    nav.navbar(role='navigation' aria-label="main navigation")
      div.navbar-brand
        a.navbar-item(href="#")
          img(src="./assets/images/logo.png")

        a#nav-toggle.navbar-burger.burger(role="button" aria-label="menu" aria-expanded="false" data-target="navbarCouchTree")
          span(aria-hidden="true")
          span(aria-hidden="true")
          span(aria-hidden="true")
        
      div#navbarCouchTree.navbar-menu
        div.navbar-end
          a.what.navbar-item(href="#sectionWhat")
          a.who.navbar-item(href="#sectionWho")
          a.why.navbar-item(href="#sectionWhy")
          a.imprint.navbar-item(href="#sectionImpressum")
    section.section
      dev.container
        div.column.is-8-desktop.is-offset-2-desktop
          h1.what.title
          h2.subtitle
            | What we did
    section.section
      dev.container
        div.column.is-8-desktop.is-offset-2-desktop
          h1.who.title
    section.section
      div.column.is-8-desktop.is-offset-2-desktop
        dev.container
          h1.why.title
    section.section
      dev.container
        h1.imprint.title
    div#animated-tree
    div#langdropdown.dropdown
      div.dropdown-trigger
        button#lang_button.button(aria-haspopup="true" aria-controls="dropdown-menu")
          span#language_button
          span.icon.is-small
            i.fas.fa-angle-down(aria-hidden="true")
      div#dropdown-menu.dropdown-menu(role="menu")
        div.dropdown-content
          a#de.dropdown-item.lang-button
            | Deutsch
          a#en.dropdown-item.lang-button
            | English
